.card{
    /* border-radius: 4px; */
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      /* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12); */
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 0px;
  border-color: #black;
  border-width: 3px;
}

.card:hover{
  box-shadow: 0;
  opacity: 1;
  text-decoration: none;
  background-color: white;
  color: #black;
  border-radius: 0px;
  border-color: #F86A4A;
  border-width: 3px;
}